/* Adjust body font size and line-height */
.quire-page__content {
  font-size: 1.2em;
}
.quire-page__content .container .content *:not(sup) {
  line-height: 1.5;
}
.quire-entry .quire-page__content .container .content *:not(sup) {
  line-height: 1.5;
}
@media print {  
  .quire-page__content {
    text-align: justify;
    font-size: 10.25pt;
  }
  .quire-page__content .container .content *:not(sup) {
    line-height: 14pt !important;
  }
  .quire-entry .quire-page__content .container .content *:not(sup) {
    line-height: 14pt !important;
  }
  .quire-page__content .container .content .backmatter p {
    line-height: 14pt !important;
  }  
}

/* Adjust URL breaks in PDF */
@media print {
  /* PrinceXML doesn’t seem to support <wbr> embedded in the URLs as a
  method for suggesting places to break words, instead we're using here
  the prince-text-replace specialty attribute to insert zero-width-spaces */
  a[target=_blank] {
    prince-text-replace: "/" "\200B/"
                          "%" "\200B%"
                          "?" "\200B?"
                          "=" "\200B="
                          "+" "\200B+"
                          "." "\200B."
                          "\200B/\200B/" "//\200B";
  }
  /* These additional, specific URL instances also needed some letter space
  adjustment in order to properly fill their lines of justified text */
  #catalogue-1 a[href*="http://www.perseus.tufts.edu/hopper/artifact?name=Malibu+86.AE.205&object=Vase"] {
    letter-spacing: .6pt;
  }
  #catalogue-2 a[href*="https://www.metmuseum.org/art/collection/search/251106"] {
    letter-spacing: -.3pt;
  }
  #catalogue-19 a[href*="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.04.0013%3Asection%3D11"] {
    letter-spacing: .58pt;
  }
}

/* Implement open type features */
.cva-title,
.cva-title-menu {
  /* The included version of the Cardo Regular font has been customized to add 
    an open type stylistic set ("ss16") that displays a U as a V. */
  font-feature-settings: "ss16";
  font-variant: prince-opentype(ss16);
}
.quire-page__content,
.quire-entry__tombstone,
.quire-entry__header {
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum";
  font-variant: prince-opentype(onum);
}

/*  Hide cat entries in TOC and menu, and splash pages in catalogue grid.
    The starter theme is not currently handling
    toc: false and menu: false the way we need it to here. */
#contents .quire-contents-list li.section-item li {
  display: none;
}
#contents .quire-contents-list li.section-item li:nth-child(1), 
#contents .quire-contents-list li.section-item li:nth-child(18) {
  display: list-item;
  margin-bottom: 1.5rem;
}
#contents .quire-contents-list li.section-item li:nth-child(1) a, 
#contents .quire-contents-list li.section-item li:nth-child(18) a {
  border-width: 0;
}
#contents .quire-contents-list li.section-item li:nth-child(18) {
  margin-bottom: 1rem;
}
.quire-menu__list li.section-item li {
  display: none;
}
.quire-menu__list li.section-item li:nth-child(1), 
.quire-menu__list li.section-item li:nth-child(18) {
  display: list-item;
}
#catalogue-catalogue .quire-contents-list li:nth-child(1),
#catalogue-catalogue .quire-contents-list li:nth-child(18) {
  display: none;
}

@media print {
  #contents .menu-list ul > li:last-child {
    display: none;
  }
  .quire-contents-list .menu-list .section-item.no-landing .list-header {
    font-size: 1.2rem;
  }
}

/* Style contents pages and menu */
.arrow {
  display: none;
}
.quire-contents-list .menu-list .section-item ul {
  font-size: 1.2rem;
}
.quire-contents-list .menu-list a {
  font-size: 1.2rem;
}
.quire-menu .menu-list {
  line-height: 1.2;
}
.quire-menu .section-item ul {
  font-size: 1rem;
  line-height: 1.2;
}
.quire-menu__header__title span {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
  margin-bottom: .5rem;
}
.quire-menu__header__title span.cva-subtitle-menu {
  text-transform: none;
  font-style: italic;
  letter-spacing: 0;
}
.quire-menu__header__contributors {
  font-size: 1.25rem;
  font-style: normal;
}

/* Style cover and headings */
.quire-cover__overlay {
  display: none;
}
.quire h1,
.quire-page h1, .quire-page__header__title,
.quire-cover__hero-body.hero-body.cva-cover {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
.cva-title {
  font-size: 3rem;
  padding: 2.5rem 0;
}
.quire h1,
.quire-page h1, 
.quire-page__header__title,
.academique,
.institution,
.cva-subtitle,
.cva-contributor,
.cva-publisher {
  font-size: 1.5rem;
}
.cva-subtitle {
  padding: 4.5rem 0 1rem;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
}
.cva-contributor {
  padding-bottom: 4.5rem;
}
.quire h1,
.quire-page h1, 
.quire-page__header__title {
  margin: 4rem auto 0;
  max-width: 800px;
  line-height: 1.4;
}

@media print {
  .quire-cover__hero-body.hero-body.cva-cover > div {
    width: 6in;
    margin: 0 auto;
  }
  .academique {
    font-size: 1.7rem;
  }
  .cva-title {
    font-size: 3.5rem;
    padding: 6rem 0;
  }
  .cva-subtitle {
    padding: 8rem 0 3rem;
  }
  .cva-contributor {
    padding-bottom: 20rem;
  }
  .fascicule,
  .pub-year {
    font-size: 1.2rem;
    line-height: 2;
  }
  .cva-publisher {
    padding-bottom: 1.5rem;
  }
}
@media print {
  .quire-entry__header,
  .quire-entry__tombstone {
    margin-bottom: .25in;
    margin-left: 0;
    max-width: none;
  }
  .quire h1,
  .quire-page h1, 
  .quire-page__header__title {
    max-width: none;
  }
  .quire-entry__header .quire-page__header__title {
    padding: 0;
  }
  .quire-splash .quire h1,
  .quire-splash .quire-page h1, 
  .quire-splash .quire-page__header__title {
    margin-top: 3in;
  } 
  .quire-entry__image figure:first-of-type {
    display: none;
  }
}
.quire-cover__more .hero-more {
  background: #333;
}
.quire-cover__more .hero-more svg {
  color: #fcfbeb; /* CVA cream */
}

/* Change navbar font and adjust icons to match*/
.quire-navbar {
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.quire-navbar-page-controls__item.quire-next-page svg,
.quire-navbar-page-controls__item.quire-previous-page svg {
  margin-bottom: .05em;
}

/* Adjust style for bylines on Foreword and Preface  */
.quire-page__content .container .content .byline {
  margin: 2rem 0;
  width: 100%;
}
.quire-page__content .container .content .byline p {
  text-align: right;
  margin-bottom: 0;
  margin-left: 25%;
  font-style: italic;
}
.quire-page__content .container .content .byline p:first-child {
  font-style: normal;
}

/* Adjust headings of catalogue splash pages with no content
  And similarly, the content area of the dedication page */
#catalogue-volute .quire-page__header.hero,
#catalogue-column .quire-page__header.hero,
#dedication .section.quire-page__content {
  height: 50vh;
  text-align: center;
}
#dedication .quire-page--frontmatter {
  page: no-footer;
}
#dedication .quire-page__header__title {
  display: none;
}

/* Adjust entry page headigns */
.quire-entry .quire-page__header__title {
  text-align: left;
}
.quire-entry .quire-page__content h2 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
  margin: .15rem 1rem 0 0;
}
.quire-entry .quire-page__content .container .content > h2:first-child {
  margin-top: .15rem;
}
@media print {
  .quire-entry .quire-page__content h2 {
    font-size: .8125rem;
    height: 0;
    margin: .75pt 1rem 0 0;
  }
  .quire-entry .quire-page__content .container .content > h2:first-child {
    margin-top: .75pt;
  }
}
@media screen and (max-width: 1184px) {
  .quire-entry__header .quire-page__header__title {
    margin: .5rem 0;
  }
}


/* Style override tombstone that's no longer a table*/
.quire-entry__tombstone .container {
  padding: 0 2rem;
  color: #000;
}
@media screen and (max-width: 500px) {
  .quire-entry__tombstone .container {
    padding: 0 1.25rem;
  }
}
.quire-entry__tombstone .container p:first-child {
  font-size: 1.5rem;
}
.collection-link,
.bapd-link,
.entry-download {
  display: inline-block;
  margin-right: .5rem;
}

/* Add link styles to abbreviation pop-ups */
.quire-citation {
  display: inline;
  border-bottom: 1px dotted #333;
  cursor: pointer;
}
.quire-citation:hover {
  color: Tomato;
  border-bottom: 1px solid Tomato;
}
.quire-citation .quire-citation__content {
  background-color: #fcfbeb; /* CVA cream */
  font-size: .857rem;
}
.quire-citation:hover .quire-citation__content {
  visibility: visible;
}
@media print {
  .quire-citation {
    border-bottom-width: 0;
  }
  .quire-citation__content {
    display: none;
  }
}

/* Change caption display for profiles page */
#profiles .content figure .quire-figure__caption {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0 2rem;
}

/* adjust alignment of custom bullets on lists */
.quire-page__content .container .content ul li:before {
  margin-top: .2em;
}


/* Use pre and code to maintain strict LOC Cataloguing in Publication format */
.cip-data p {
  margin-bottom: 0 !important;
}
.cip-data pre {
  background: transparent;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: #000000;
}
.cip-data pre code {
  font-family: "Cardo", serif;
  font-size: 1em;
  line-height: 1.6 !important;
}
@media print {
  .cip-data pre code {
    font-size: 1rem;
  }
}

/* Style copyright for PDF/Print output */
@media print {
  #copyright .backmatter * {
    line-height: 12pt !important;
    font-size: .875rem !important;
  }
  #copyright .quire-page.quire-page--frontmatter {
    page: no-footer;
  }
  #copyright .quire-page__header {
    display: none;
  }
  #copyright .quire-page__content {
    max-width: 100%;
    height: 100%;
    margin: 0;
    text-align: left;
  }
  #copyright .quire-page__content .backmatter:first-child {
    width: 4.1875in;
    float: left;
    margin-right: .25in;
  }
  #copyright .quire-page__content .backmatter:last-child {
    float: right;
  }
  #copyright .backmatter .cip-data pre {
    color: #000000;
    font-size: 1em;
  }
  #copyright img {
    height: .25in;
  }
  #copyright .backmatter p:nth-child(3) {
    margin-bottom: 0;
  }
  #copyright hr {
    width: 70%;
  }
  #copyright .content ul {
    margin-left: .5rem;
  }
  #copyright strong {
    color: #000000;
  }
}

/* Style half-title and title page for PDF/Print output */
@media print {
  .half-title-page {
    margin: 0 auto;
    text-align: justify;
    text-align-last: justify;
    text-transform: uppercase;
    color: #000000;
    line-height: 2;
    width: 4.25in;
    padding-top: 2.5in;
  }
  .half-title-page .cva-title {
    padding: 0;
    font-size: 1.7rem;
    letter-spacing: 1.1pt;
  }
  .half-title-page .cva-country {
    font-size: 1.45rem;
  }
  .half-title-page .institution {
    text-transform: none;
    font-size: 1.66rem;
  }
  .title-page {
    margin: 0 auto;
    padding-top: 1in;
  }
}

/* Keep abbreviation table from breaking across entries */
@media print {
  #abbreviations .section.quire-page__content tr {
    page-break-inside: avoid;
  }
}

/* Style table foot, for attributions table */
.quire-page__content .container .content table tfoot td {
  border-width: 0;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  text-align: right;
}

/* Fill only one column on trailing page with very little text */
@media print {
  #catalogue-3 .quire-entry .quire-page__content {
    column-fill: auto;
  }
}

/* Custom class for dedication in preface.md */
.dedication {
  text-align: center;
  margin-bottom: 4rem;
}

/* Hack to hide cat. nos. on section break pages */
.quire-page__header__title strong {
  display: none;
}
.quire-navbar strong,
.page-item strong {
  font-weight: 400;
}
.quire-navbar a:hover strong {
  color: #fff;
}
.quire-menu .page-item a.active strong, 
.quire-menu .section-item a.active strong {
  color: Tomato;
}

/* Link from entry pages to profile page */
.profiles-link {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  text-align: right;
}

/* Hide page numbering on blank PDF pages */
@media print {
  @page:blank {
    @bottom-center {
      content: none;
      content: "";
      color: #fff;
    }
  }
}