{{/* Entry tombstone data */}}
{{ range .Params.object }}
  <section class="quire-entry__tombstone">
    <div class="container">
        {{ if .id }}
          {{ $.Scratch.Set "id" .id }}
          {{ range $.Site.Data.objects.object_display_order }}
            {{ $.Scratch.Set "key" . }}
            {{ range where $.Site.Data.objects.object_list "id" "eq" ($.Scratch.Get "id") }}
              {{ $.Scratch.Set "plateLength" (len (split .plate_list ",")) }}
              {{ range $key, $value := . }}
              {{ if and (eq $key ($.Scratch.Get "key")) (ne $value nil) }}
                {{ if and (eq $key "plates") (eq ($.Scratch.Get "plateLength") 1) }}  
                <p>Plate {{ markdownify $value }}</p>
                {{ else }}
                <p>{{ $key | humanize | title }} {{ markdownify $value }}</p>
                {{ end }}
              {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ if .id }}
        {{ range where $.Site.Data.objects.object_list "id" "eq" .id }}
          {{ if .link }}
          <p class="collection-link is-screen-only"><a href="{{ .link }}" target="_blank">{{ $.Site.Params.entryPageObjectLinkText }}</a></p>
          {{ end }}
          {{ if .plate_list }}
            {{- $institution := urlize (replace $.Site.Data.publication.cva.institution "." "") -}}
            {{- $fascicule := $.Site.Data.publication.cva.fascicule_no -}}
            <p class="entry-download is-screen-only"><a href="/downloads/{{ $institution }}__cva-{{ $fascicule }}__{{ .id }}.pdf" target="_blank">Download PDF</a></p>
          {{ end }}
        {{ end }}
      {{ else }}
      {{ end }}
    </div>
  </section>
{{ end }}

{{ define "image-control-icon" }}
<svg class="remove-from-epub">
  <switch>
    <use xlink:href="#{{ .type }}-icon"></use>
    <foreignObject width="32" height="32">
        <img class="remove-from-epub" src="{{ absURL .imageDir }}/icons/{{ .type }}.png" alt="" />
    </foreignObject>
  </switch>
</svg>
<span class="visually-hidden">{{ .description }}</span>
{{ end }}
