{{/* Entry tombstone data */}}
{{ range .Params.object }}
  <section class="quire-entry__tombstone">
    <div class="container">
        {{ if .id }}
          {{ $.Scratch.Set "id" .id }}
          {{ range $.Site.Data.objects.object_display_order }}
            {{ $.Scratch.Set "key" . }}
            {{ range where $.Site.Data.objects.object_list "id" "eq" ($.Scratch.Get "id") }}
              {{ range $key, $value := . }}
              {{ if and (eq $key ($.Scratch.Get "key")) (ne $value nil) }}
                <p>{{ $key | humanize | title }} {{ markdownify $value }}</p>
              {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ if .id }}
        {{ range where $.Site.Data.objects.object_list "id" "eq" .id }}
          {{ if .link }}
          <p class="is-screen-only"><a href="{{ .link }}" target="_blank">{{ $.Site.Params.entryPageObjectLinkText }}</a></p>
          {{ end }}
        {{ end }}
      {{ else }}
      {{ end }}
    </div>
  </section>
{{ end }}

{{ define "image-control-icon" }}
<svg class="remove-from-epub">
  <switch>
    <use xlink:href="#{{ .type }}-icon"></use>
    <foreignObject width="32" height="32">
        <img class="remove-from-epub" src="{{ absURL .imageDir }}/icons/{{ .type }}.png" alt="" />
    </foreignObject>
  </switch>
</svg>
<span class="visually-hidden">{{ .description }}</span>
{{ end }}
